extends ../layout

block content 
    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Login / Profile Module
                div.panel-body
                    You must be logged in to view the other modules. In order to login, enter a valid username and password in the login screen. Contact an administrator if you have issues logging in. In order to log out, press the logout tab at the top of the page. You can edit your information by clicking on the profile tab. This will preload your current information that you may change. Once the desired changes have been made, click on the save button to save your changes. 
    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title User Management Module
                div.panel-body
                    This module allows a system administrator to enter or update the user information. To access this, you must be logged in as an administrator account and then click the Manage Users tab at the top of the page. Here you you see that there is a list of all users in the system with their current information displayed. You can update this information by changing it and then pressing the save button. You can also add users to people by filling in the required information and then pressing the new button, or you can edit by updating their user information in the list and selecting save, or even remove a user by pressing the remove button. Here you can also add doctors to the patient by selecting a doctor from the list and clicking on the Add doctor to patient button. Finally, if you wish to add a new person, there is a blank form at the top where you can fill in the required information and select the new button beside it. 
    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Report Generating Module
                div.panel-body
                    In this module you can get the list of all patients with a specified diagnosis for a given time period. For each patient, the list contains the name, address and phone number of the patient, and testing date of the first radiology record that contains the specified diagnosis. In order to access this you must be logged in as an administrator and click on the reports tab at the top of the page. Here you will see 3 possible input fields: start date, end date, and diagnosis. Input what you are looking for and then press the Get reports button to view your results. 
    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Uploading Module
                div.panel-body
                    In this module radiologists can enter a radiology record, and to upload medical images into it from their local file system. In order to do this, be logged in as a radiologist account in the system then click on the Upload Images tab at the top of the page. Then select the patient and doctor from the lists available for the report. Enter the prescribing date, test date, type, description and diagnosis. To add images press the choose files box and upload images from your computer to the report. And finally, to add the report with the images press the Save button at the bottom of the page. 

    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Search Module
                div.panel-body
                    This module can be used by all logged in users. However, what you can see depends on your permissions. A patient can only view his/her own records; a doctor can only view records of their patients; a radiologist can only review records conducted by oneself; and an administrator can view any records. In order to search for records, click on the Search tab at the top of the page, the input the information you want to search by. This includes dates, keywords (separated by spaces), and you can also choose a results sort (default ranking, ascending and descending). Then press the Get reports button at the bottom to view the search results. 

    div.row
        div.col-sm-3
        div.col-sm-6.top-buffer
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Data Analysis Module
                div.panel-body
                    In this module you can choose to display the number of images for each patient ,  test type, and/or period of time. In order to do this you must be logged in as an administrator account. Then click on the analysis tab at the top of the page. Here you will see check boxes to control and how you want to see the number of images by, as well as the dates (such as daily, monthly, yearly). To see the analysis of the number of images press the generate analysis button at the bottom.
