extends ../layout

block content 
 div.row
    div.col-sm-4
    div.col-sm-4.top-buffer
        div(class='panel panel-primary')
            div.panel-heading 
                h3.panel-title Analysis inputs
            div.panel-body
                form(action='/admin/analysis',name="update",method='post',enctype="multipart/form-data",id="form-analysis")
                    .form-group 
                        label.col-sm-8.control-label(for="") Group Dates By
                        .col-sm-10
                        select.form-control.input-sm(name="date")
                            option(value="daily") Daily
                            option(value="weekly") Weekly
                            option(value="monthly") Monthly
                            option(value="yearly") Yearly
                            option(value="none") None
                    .form-group
                        label.col-sm-8.control-label(for="") Using Test Type
                        .col-sm-10
                        input(type="checkbox", name="withtype")
                    .form-group
                        label.col-sm-8.control-label(for="") Using Patient
                        .col-sm-10
                        input(type="checkbox", name="withname")
                    .form-group
                        .col-sm-offset-2.col-sm-10
                        button.btn.btn-primary(type='submit') Generate Analysis
 div.row
     div.col-sm-3
     div.col-sm-6
        -if (results)
            div(class='panel panel-primary')
                div.panel-heading 
                    h3.panel-title Generated analysis              
                div.panel-body
                    div.table-responsive
                    table(class='table')
                        thead                             
                            tr 
                              -if(withname)
                               th Patient Id
                              -if(withtype)
                               th Type
                              th Date
                              th Number of Images
                            tbody
                               each row in results
                                tr.form-group 
                                 each item in row 
                                    td #{item}
