extends ../layout

block content 
    div.col-sm-3
    div.col-sm-6.top-buffer
        div(class='panel panel-primary')
            div.panel-heading 
                h3.panel-title Record
            div.panel-body
                Record here:
                Image size....
                
