extends ../layout

block content 
    div.col-sm-2
    div.col-sm-8.top-buffer
        div(class='panel panel-primary')
            div.panel-heading 
                h3.panel-title All Users here.
            div.panel-body
                Display a list of users here...
                div.table-responsive
                    table(class='table table-striped')
                        thead
                            tr
                                th user id
                                th row
                                th row
                                th row
                                th row
                        tbody
                            tr 
                                td 1
                                td 2
                                td 3
                                td 4
                                td edit user
                            tr 
                                td 1
                                td 2
                                td 3
                                td 4
                                td 5
