extends ../layout

block content 
    div.col-sm-3
    div.col-sm-6.top-buffer
        div(class='panel panel-danger')
            div.panel-heading 
                h3.panel-title UNAUTHORIZED
            div.panel-body
                You are unauthorized to view this page.
